PHX_HOST=localhost
PHX_PORT=4000
PHX_SCHEME=http

RESEND_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
XBOX_CLIENT_ID=
XBOX_CLIENT_SECRET=
XBOX_REDIRECT_URI=http://localhost:4000/auth/xbox/callback
STEAM_API_KEY=
