PHX_HOST=yourname.duckdns.org
PHX_PORT=443
PHX_SCHEME=https

RESEND_API_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
XBOX_CLIENT_ID=
XBOX_CLIENT_SECRET=
XBOX_REDIRECT_URI=https://yourname.duckdns.org/auth/xbox/callback
STEAM_API_KEY=
