--
-- PostgreSQL database dump
--

\restrict dp7IS6u7q5OHOLHTfCV0gNTOGGuoGg5B7Ji0PUqau5xwFg7OEqavg0rs6qBVep6

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.achievements (
    id bigint NOT NULL,
    platform_game_id bigint NOT NULL,
    external_achievement_id character varying(255),
    name character varying(255),
    description text,
    icon_image character varying(255),
    icon_locked_image character varying(255)
);


ALTER TABLE public.achievements OWNER TO postgres;

--
-- Name: achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.achievements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.achievements_id_seq OWNER TO postgres;

--
-- Name: achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.achievements_id_seq OWNED BY public.achievements.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    id bigint NOT NULL,
    igdb_id integer,
    name character varying(255),
    cover_image character varying(255),
    icon_image character varying(255),
    logo_image character varying(255)
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO postgres;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: platform_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platform_games (
    id bigint NOT NULL,
    game_id bigint NOT NULL,
    platform_id bigint NOT NULL,
    external_game_id character varying(255)
);


ALTER TABLE public.platform_games OWNER TO postgres;

--
-- Name: platform_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.platform_games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.platform_games_id_seq OWNER TO postgres;

--
-- Name: platform_games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.platform_games_id_seq OWNED BY public.platform_games.id;


--
-- Name: platforms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.platforms (
    id bigint NOT NULL,
    name character varying(255),
    slug character varying(255)
);


ALTER TABLE public.platforms OWNER TO postgres;

--
-- Name: platforms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.platforms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.platforms_id_seq OWNER TO postgres;

--
-- Name: platforms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.platforms_id_seq OWNED BY public.platforms.id;


--
-- Name: profile_achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile_achievements (
    id bigint NOT NULL,
    profile_game_id bigint NOT NULL,
    achievement_id bigint NOT NULL,
    achieved boolean DEFAULT false,
    unlock_time timestamp(0) without time zone
);


ALTER TABLE public.profile_achievements OWNER TO postgres;

--
-- Name: profile_achievements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profile_achievements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_achievements_id_seq OWNER TO postgres;

--
-- Name: profile_achievements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profile_achievements_id_seq OWNED BY public.profile_achievements.id;


--
-- Name: profile_avatars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile_avatars (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    data text NOT NULL,
    content_type character varying(255) NOT NULL,
    inserted_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.profile_avatars OWNER TO postgres;

--
-- Name: profile_avatars_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profile_avatars_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_avatars_id_seq OWNER TO postgres;

--
-- Name: profile_avatars_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profile_avatars_id_seq OWNED BY public.profile_avatars.id;


--
-- Name: profile_games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile_games (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    platform_game_id bigint NOT NULL,
    playtime_minutes integer,
    last_played timestamp(0) without time zone
);


ALTER TABLE public.profile_games OWNER TO postgres;

--
-- Name: profile_games_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profile_games_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_games_id_seq OWNER TO postgres;

--
-- Name: profile_games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profile_games_id_seq OWNED BY public.profile_games.id;


--
-- Name: profile_platform_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profile_platform_accounts (
    id bigint NOT NULL,
    profile_id bigint NOT NULL,
    platform_id bigint NOT NULL,
    external_user_id character varying(255),
    profile_url character varying(255),
    api_key character varying(255)
);


ALTER TABLE public.profile_platform_accounts OWNER TO postgres;

--
-- Name: profile_platform_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profile_platform_accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_platform_accounts_id_seq OWNER TO postgres;

--
-- Name: profile_platform_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profile_platform_accounts_id_seq OWNED BY public.profile_platform_accounts.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id bigint NOT NULL,
    username character varying(255),
    user_id bigint,
    bio character varying(255)
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profiles_id_seq OWNER TO postgres;

--
-- Name: profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profiles_id_seq OWNED BY public.profiles.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    version bigint NOT NULL,
    inserted_at timestamp(0) without time zone
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(255),
    username character varying(255) NOT NULL,
    inserted_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    hashed_password character varying(255),
    confirmed_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_tokens (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token bytea NOT NULL,
    context character varying(255) NOT NULL,
    sent_to character varying(255),
    authenticated_at timestamp(0) without time zone,
    inserted_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.users_tokens OWNER TO postgres;

--
-- Name: users_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_tokens_id_seq OWNER TO postgres;

--
-- Name: users_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_tokens_id_seq OWNED BY public.users_tokens.id;


--
-- Name: achievements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements ALTER COLUMN id SET DEFAULT nextval('public.achievements_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: platform_games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_games ALTER COLUMN id SET DEFAULT nextval('public.platform_games_id_seq'::regclass);


--
-- Name: platforms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms ALTER COLUMN id SET DEFAULT nextval('public.platforms_id_seq'::regclass);


--
-- Name: profile_achievements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_achievements ALTER COLUMN id SET DEFAULT nextval('public.profile_achievements_id_seq'::regclass);


--
-- Name: profile_avatars id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_avatars ALTER COLUMN id SET DEFAULT nextval('public.profile_avatars_id_seq'::regclass);


--
-- Name: profile_games id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_games ALTER COLUMN id SET DEFAULT nextval('public.profile_games_id_seq'::regclass);


--
-- Name: profile_platform_accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_platform_accounts ALTER COLUMN id SET DEFAULT nextval('public.profile_platform_accounts_id_seq'::regclass);


--
-- Name: profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles ALTER COLUMN id SET DEFAULT nextval('public.profiles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: users_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_tokens ALTER COLUMN id SET DEFAULT nextval('public.users_tokens_id_seq'::regclass);


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.achievements (id, platform_game_id, external_achievement_id, name, description, icon_image, icon_locked_image) FROM stdin;
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.games (id, igdb_id, name, cover_image, icon_image, logo_image) FROM stdin;
\.


--
-- Data for Name: platform_games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platform_games (id, game_id, platform_id, external_game_id) FROM stdin;
\.


--
-- Data for Name: platforms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.platforms (id, name, slug) FROM stdin;
1	Steam	steam
2	PlayStation Network	playstation
3	Xbox Live	xbox
4	RetroAchievements	retroachievements
\.


--
-- Data for Name: profile_achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile_achievements (id, profile_game_id, achievement_id, achieved, unlock_time) FROM stdin;
\.


--
-- Data for Name: profile_avatars; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile_avatars (id, profile_id, data, content_type, inserted_at, updated_at) FROM stdin;
\.


--
-- Data for Name: profile_games; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile_games (id, profile_id, platform_game_id, playtime_minutes, last_played) FROM stdin;
\.


--
-- Data for Name: profile_platform_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profile_platform_accounts (id, profile_id, platform_id, external_user_id, profile_url, api_key) FROM stdin;
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.profiles (id, username, user_id, bio) FROM stdin;
1	Fulano	\N	\N
2	marcelo	1	\N
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, full_name, username, inserted_at, updated_at, hashed_password, confirmed_at) FROM stdin;
1	marcelo@gmail.com	marcelo	marcelo	2026-04-18 14:24:15	2026-04-18 14:24:15	$2b$12$YxjoJppx8g.hJAAYX2LM9OGQHcWZkBnVoIbPColHYA16NicuL14ju	\N
\.


--
-- Data for Name: users_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_tokens (id, user_id, token, context, sent_to, authenticated_at, inserted_at) FROM stdin;
1	1	\\xb8bfd72e0ae7156d2c80f1183fda5a9f5b09ad3dc92b8590b42c3ea2ccb34ad7	session	\N	2026-04-18 14:24:17	2026-04-18 14:24:17
\.


--
-- Name: achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.achievements_id_seq', 1, false);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.games_id_seq', 1, false);


--
-- Name: platform_games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.platform_games_id_seq', 1, false);


--
-- Name: platforms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.platforms_id_seq', 4, true);


--
-- Name: profile_achievements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profile_achievements_id_seq', 1, false);


--
-- Name: profile_avatars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profile_avatars_id_seq', 1, false);


--
-- Name: profile_games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profile_games_id_seq', 1, false);


--
-- Name: profile_platform_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profile_platform_accounts_id_seq', 1, false);


--
-- Name: profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profiles_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: users_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_tokens_id_seq', 1, true);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: platform_games platform_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_games
    ADD CONSTRAINT platform_games_pkey PRIMARY KEY (id);


--
-- Name: platforms platforms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platforms
    ADD CONSTRAINT platforms_pkey PRIMARY KEY (id);


--
-- Name: profile_achievements profile_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_achievements
    ADD CONSTRAINT profile_achievements_pkey PRIMARY KEY (id);


--
-- Name: profile_avatars profile_avatars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_avatars
    ADD CONSTRAINT profile_avatars_pkey PRIMARY KEY (id);


--
-- Name: profile_games profile_games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_games
    ADD CONSTRAINT profile_games_pkey PRIMARY KEY (id);


--
-- Name: profile_platform_accounts profile_platform_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_platform_accounts
    ADD CONSTRAINT profile_platform_accounts_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_tokens users_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_tokens
    ADD CONSTRAINT users_tokens_pkey PRIMARY KEY (id);


--
-- Name: achievements_platform_game_id_external_achievement_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX achievements_platform_game_id_external_achievement_id_index ON public.achievements USING btree (platform_game_id, external_achievement_id);


--
-- Name: games_igdb_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX games_igdb_id_index ON public.games USING btree (igdb_id);


--
-- Name: platform_games_platform_id_external_game_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX platform_games_platform_id_external_game_id_index ON public.platform_games USING btree (platform_id, external_game_id);


--
-- Name: platforms_name_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX platforms_name_index ON public.platforms USING btree (name);


--
-- Name: profile_achievements_user_game_id_achievement_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX profile_achievements_user_game_id_achievement_id_index ON public.profile_achievements USING btree (profile_game_id, achievement_id);


--
-- Name: profile_avatars_profile_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX profile_avatars_profile_id_index ON public.profile_avatars USING btree (profile_id);


--
-- Name: profile_games_profile_id_platform_game_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX profile_games_profile_id_platform_game_id_index ON public.profile_games USING btree (profile_id, platform_game_id);


--
-- Name: profile_platform_accounts_profile_id_platform_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX profile_platform_accounts_profile_id_platform_id_index ON public.profile_platform_accounts USING btree (profile_id, platform_id);


--
-- Name: profiles_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX profiles_user_id_index ON public.profiles USING btree (user_id);


--
-- Name: users_email_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_index ON public.users USING btree (email);


--
-- Name: users_tokens_context_token_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_tokens_context_token_index ON public.users_tokens USING btree (context, token);


--
-- Name: users_tokens_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_tokens_user_id_index ON public.users_tokens USING btree (user_id);


--
-- Name: users_username_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_index ON public.users USING btree (username);


--
-- Name: achievements achievements_platform_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_platform_game_id_fkey FOREIGN KEY (platform_game_id) REFERENCES public.platform_games(id) ON DELETE CASCADE;


--
-- Name: platform_games platform_games_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_games
    ADD CONSTRAINT platform_games_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: platform_games platform_games_platform_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.platform_games
    ADD CONSTRAINT platform_games_platform_id_fkey FOREIGN KEY (platform_id) REFERENCES public.platforms(id) ON DELETE CASCADE;


--
-- Name: profile_achievements profile_achievements_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_achievements
    ADD CONSTRAINT profile_achievements_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievements(id) ON DELETE CASCADE;


--
-- Name: profile_achievements profile_achievements_user_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_achievements
    ADD CONSTRAINT profile_achievements_user_game_id_fkey FOREIGN KEY (profile_game_id) REFERENCES public.profile_games(id) ON DELETE CASCADE;


--
-- Name: profile_avatars profile_avatars_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_avatars
    ADD CONSTRAINT profile_avatars_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_games profile_games_platform_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_games
    ADD CONSTRAINT profile_games_platform_game_id_fkey FOREIGN KEY (platform_game_id) REFERENCES public.platform_games(id) ON DELETE CASCADE;


--
-- Name: profile_games profile_games_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_games
    ADD CONSTRAINT profile_games_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profile_platform_accounts profile_platform_accounts_platform_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_platform_accounts
    ADD CONSTRAINT profile_platform_accounts_platform_id_fkey FOREIGN KEY (platform_id) REFERENCES public.platforms(id) ON DELETE CASCADE;


--
-- Name: profile_platform_accounts profile_platform_accounts_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profile_platform_accounts
    ADD CONSTRAINT profile_platform_accounts_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users_tokens users_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_tokens
    ADD CONSTRAINT users_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dp7IS6u7q5OHOLHTfCV0gNTOGGuoGg5B7Ji0PUqau5xwFg7OEqavg0rs6qBVep6

